@tailwind base;
@tailwind components;
@tailwind utilities;

.t3-footer{
    background: #000000;
    color: #999;
}

.wrap{
    width: auto;
    clear: both;
}

.t3-footnav{
    padding: 60px 0;
}

.t3-footnav .t3-module{
    color: #555555;
    margin-top: 9px;
    margin-bottom: 9px;
}

.t3-module{
    margin-top: 36px;
    background: transparent;
    color: inherit;
    margin-bottom: 18px;
}

.t3-module .module.inner{
    padding: 0;
}

.module-ct{
    background: transparent;
    color: inherit;
    padding: 0;
}

.footer-about{
    margin-top: -15px;
}

.footer-about img{
    padding-bottom: 5px;
}

.small-logo {
    width: 100px;
    height: 100px;
}

.t3-footnav .t3.module ul{
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.footer-about .footer-social{
    margin-top: 20px;
}

ul, ol{
    margin: 0;
    padding: 0;
}

ul, ol{
    margin-top: 0;
    margin-bottom: 9px;
}

.footer-about .footer-social li a i{
    width: 25px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    padding-left: 3px;
}

.t3-footnav .t3-module ul > li > a{
    color: #555555;
}

.footer-about .footer-social li a{
    text-align: center;
    padding: 7px 5px;
    font-size: 16px;
    border-radius: 100%;
    background: #333;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

a{
    color: #d32931;
    outline: 0;
}

a{
    color: #428bca;
    text-decoration: none;
}

.t3-footnav .t3-module ul > li{
    line-height: 24px;
}

.footer-about .footer-social li{
    display: inline-block;
    margin-right: 10px;
}

.t3-footnav .t3-module .module-title{
    text-align: center;
    color: #555555;
    font-size: 18px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.t3-copyright{
    font-size: 12px;
}

.wrap{
    width: auto;
    clear: both;
}

.copyright {
    padding: 20px 0;
    border-top:  1px dotted #717173;
    text-align: center;
}

.footer-about {
    position: relative; /* Establece el posicionamiento relativo para que los elementos absolutamente posicionados se posicionen relativos a este */
}

.footer-about img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px; /* Centra el logo horizontalmente y deja un margen inferior */
}

.footer-about p {
    color: #fff;
    margin-bottom: 0; /* Elimina el margen inferior del párrafo para evitar espacios innecesarios */
}

.footer-social {
    text-align: center; /* Centra los iconos horizontalmente */
}

.footer-social li {
    display: inline-block;
    margin-right: 10px; /* Espacio entre los iconos */
}

.footer-social li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último icono */
}

.footer-social a i {
    color: #8a2be2; /* Cambia el color de los iconos a un tono de morado más claro */
}

.dev-tools-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tool-icon {
    width: 100px; /* Puedes ajustar el tamaño según sea necesario */
    margin: 10px;
}


  
  